<h4>Log In into Fabric Much</h4>
  <div class="form">
    <div>
      <form name="loginForm" id="loginForm" ng-submit="submitLogin(formData)" novalidate>
        <div>
          <div>
            <input type="email"
                   name="email"
                   id="loginEmail"
                   placeholder="Email"
                   ng-model="formData.email"
                   required />

            <div  >
              <input type="password"
                     name="password"
                     id="loginPassword"
                     placeholder="Password"
                     ng-model="formData.password"
                     required />
            </div>

            <button class="btn waves-effect cyan" type="submit" name="action">Log In
            </button>
            <div>
              <a href="#" ng-click="showSignup()">Sign Up</a>
            </div>
          </div>
        </div>
      </form>
