# Created by https://www.gitignore.io/api/angular

# compiled output
/dist
/tmp
app/values/fb-creds.js
app/styles/css

# dependencies
/node_modules

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
