<h3>Edit Inventory</h3>
<form name="fabricForm" ng-submit="submitFabric(fabricId)" novalidate>
  <div class="input field">
    <label for="fabric-name">Fabric Name</label>
    <input input id="fabric-name" type="text" name="fabric_name" placeholder="Fabric Name" ng-model="fabric.fabric_name" ng-minlength="2" required>{{fabric.fabric_name}}
  </div>

  <div class="input field">
    <span>SKU#</span>
    <input type="text" name="fabric_sku" placeholder="Sku number" ng-model="fabric.barcode" ng-minlength="2" required>{{fabric.barcode}}
  </div>

  <label ng-repeat="type in inventoryTypes">
    <input type="radio" ng-model="fabric.inventory_type_id" value="{{type.id}}">{{type.inventory_type}}
  </label><br/>

<!-- upload swatch -->

  <div>
    <label>Fabric Types</label>
    <select ng-model="fabric.fabric_type_id" ng-options="fabricType.id as fabricType.fabric_type for fabricType in allFabricTypes" required></select>
  </div>

<!-- if input doesn't exist create one in database? -->

  <div class="input field">
    <span>Price</span>
    <input type="text" name="fabric_price" placeholder="Fabric Price" ng-model="fabric.price" ng-minlength="2" required>{{fabric.price}}
  </div>

  <div class="input field">
    <span>Quantity</span>
    <input type="text" name="fabric_quantity" placeholder="Fabric Quantity" ng-model="fabric.quantity" ng-minlength="2" required>{{fabric.quantity}}
  </div>

  <div>
    <label>Store</label>
    <select ng-model="fabric.store" ng-options="store for store in stores" required></select>{{fabric.store}}
  </div>

  <br>
  <button type="submit" class="button">Submit</button>
</form>
