nav {
  background-color: slateblue;
}

.sign-up {
  padding-bottom: 10px;
}

.brand-logo, a.brand-logo {
  font-family: 'Berkshire Swash', regular;
  font-size: 36px;
  margin-left: 10px;
}

.logo-img {
  border: 1px solid white;
  border-radius: 12px;
  margin-top: 4px;
  width: 56px;
}

.signin-logo {
  margin: 0px 398px;
  padding-top: 39px;
  padding-bottom: 20px;
  width: 196px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
  background-image: url("/app/assets/images/fabricbg.png");
  background-color: #ffffff;
}

.input-field input[type=search] {
  height: 64px !important;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
  cursor: default;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  bottom: 25px;
  cursor: pointer;
  left: 22px;
  margin-left: 1px;
  position: relative;
  top: 0;
  z-index: 1;
}

img.responsive-img {
  max-width: 50% !important;
  height: auto;
}

img.responsive-img table-img initialized {
  max-width: 30% !important;
}

.material-placeholder {
  padding-right: 20px !important;
}

.auth-wrapper {
  margin-top: 175px;
}

.btn-color {
  background-color: slateblue;
}

.btn:hover, .btn-large:hover {
  background-color: #657bbf ;
}

.profile-cont {
  padding-top: 20px;
}

.profile-pic {
  border-radius: 50%;
  width: 39%;
  margin-bottom: 30px;
}

.card-wrapper {
  text-align: center;
}

.p-padding {
  padding: 5px 5px !important;
}

.meme-img {
  margin: 0px 398px;
  // padding-top: 39px;
  padding-bottom: 20px;
  width: 300px;
}

.quote {
  font-family: 'Arvo', serif;
  font-size: 20px;
  padding-top: 20px;
  margin: 0px 255px !important;
}

.word-pop {
  font-family: 'Lily Script One', cursive;
  margin: 0px 398px;
}

// .footer-purple {
//   background: #657bbf !important;
// }

.page-footer {
  background-color: slateblue;
  bottom: 0px;
  // margin-top: 47px;
  // padding-top: 10px
}
