<h1 ng-init="init()">Fabric Inventory</h1>
<div class="container col s12 m4 l8">
  <!-- <div ng-repeat="fabric in fabrics">
    <div>
      {{fabric}}
      <a ui-sref="fabric.items">{{ fabric.id }}</a>
    </div>
  </div> -->

  <!-- <div ng-repeat="bolt in bolts">
    <div>
      {{bolt}}
    </div>
  </div> -->

  <!-- <div ng-repeat="swatches in swatches">
    <div>
      swatch
      {{swatches}}
    </div>
  </div> -->

  <!-- <div ng-repeat="fabricType in fabricTypes">
    <div>
      fabric types
      {{fabricTypes}}
    </div>
  </div> -->
</div>

<h4>Add Inventory</h4>
<form name="fabricForm" ng-submit="saveFabric(fabric)" novalidate>
    <div>
      <span>Fabric Name</span>
      <input type="text" name="fabric_name" placeholder="Fabric Name" ng-model="fabric.fabric_name" ng-minlength="2" required>
    </div>

    <div>
      <span>SKU#</span>
      <input type="text" name="fabric_sku" placeholder="Sku number" ng-model="fabric.barcode" ng-minlength="2" required>
    </div>

      <input type="radio" name="inv_type" value="bolt"> Bolt<br>
      <input type="radio" name="inv_type" value="fabric"> Fabric<br>
      <input type="radio" name="inv_type" value="swatch"> Swatches

  <!-- upload swatch -->

    <div>
      <label>Fabric Types</label>
      <select ng-model="fabric_types.fabric_type" ng-options="fabricType for fabricType in fabricTypes" required></select>
    </div>

    <!-- <div>
      <span>Fabric Type</span>
      <input type="text" name="fabric_type" placeholder="Fabric Type" ng-model="fabric.fabric_type_id" ng-minlength="2" required>
    </div> -->
  <!-- if input doesn't exist create one in database? -->

    <div>
      <span>Price</span>
      <input type="text" name="fabric_price" placeholder="Fabric Price" ng-model="fabric.price" ng-minlength="2" required>
    </div>

    <div>
      <span>Quantity</span>
      <input type="text" name="fabric_quantity" placeholder="Fabric Quantity" ng-model="fabric.quantity" ng-minlength="2" required>
    </div>

    <div>
      <label>Store</label>
      <select ng-model="fabric.store" ng-options="store for store in stores" required></select>
    </div>

    <br>
    <button type="submit" class="button">Submit</button>
</form>

