<div class="profile-cont container col s12 m4 l8" ng-init="init()">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="card card-wrapper">
        <div class="card-image waves-effect waves-block waves-light">
          <!-- user profile image -->
        </div>
        <div class="card-content">
            <img  class ="profile-pic" src="/app/assets/images/placeholder.png">
          <p>Email: {{user.email}}</p>
          <p class="p-padding">Account Created: {{user.created_at}}</p>
          <button ng-click="logOut()" class="btn btn-info btn-profile waves-effect btn-color">Log out</button>
          <!-- <div class="col-xs-6">
            <p class="quote">This is how one grows a large fabric inventory:</p>
            <img class="meme-img" src="app/assets/images/fabric-meme.jpg">
            <h5 class="word-pop">#ownallthefabric #needthewholerainbow</h5>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
